<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   

   
    
       

    <div>
        <% newsArray.forEach((element)=>{ %>
            <div>
                <img src="<%= element.image_url%>" alt="">
                <h1><%= element.title%></h1>
                <h2><%= element.synopsis%></h2>
                <h3><%= element.type%></h3>
                <h4><%= element.episodes%></h4>
                <h4><%= element.score%></h4>
                <h4><%= element.start_date%></h4>
                <h4><%= element.end_date%></h4>
                <h4><%= element.rated%></h4>

                <form action="/anime" method="POST">
                    <input type="hidden" name="title" value="<%= element.title%>">
                    <input type="hidden" name="synopsis" value="<%= element.synopsis%>">
                    <input type="hidden" name="type" value="<%= element.type%>">
                    <input type="hidden" name="episodes" value="<%= element.episodes%>">
                    <input type="hidden" name="score" value="<%= element.score%>">
                    <input type="hidden" name="start_date" value="<%= element.start_date%>">
                    <input type="hidden" name="end_date" value="<%= element.end_date%>">
                    <input type="hidden" name="rated" value="<%= element.rated%>">
                    <input type="submit" name="add" value="Add to my list">
                  
                  
                   

                </form>

              
            </div>
            
        <%})%>
    </div>
    
</body>
</html>