<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" 
    integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">

    

    <link rel="stylesheet" href="/style/styles.css">
    <title>Paradis</title>
    
</head>

<body>

    <header>
        <nav>
            
            <ul class="nav-ul">
                <li><img class="logo" src="/img/logo.jpg" alt=""></li>
                <li><i class="in fas fa-bars"></i></li>
            </ul>
        </nav>

        <div class="search">
            <div class="search-bar">
                <input class="in-text" type="text">
            </div>
            <div class="search-btn">
                <a href=""><i class="fas fa-search"> Search</i></a>
            </div>
        </div>
        <div class="burger">
            <ul >
                <a href=""><li class="h-menu">Home</li></a>
                <a href=""><li class="h-menu">Witch List</li></a>
                <a href=""><li class="h-menu">News</li></a>
                <a href=""><li class="h-menu">Help</li></a>
                <a href=""><li class="h-menu">About Us</li></a>
            </ul>
        </div>
        
    </header>


    <main id="slide">
        

        <section class="slider">
            <div class="flexslider">
                <ul class="slides">
                    <li>
                        <section class="mainSection">

                            <div class="main-div">
                                <div class="anime-des">
                                    <ul>
                                        <li><h1 class="title">Anime Title</h1></li>
                                        <li class="not-title">Anime score</li>
                                        <li class="not-title">Anime description</li>
                                        <li class="not-title">Anime airing</li>
                                        <li class="not-title">Anime url</li>
                                    </ul>
                                </div>
                                <div class="anime-img">
                                    <img class="list-img" src="/img/test.jpg" alt="">
                                </div>
                            </div>
                
                        </section>
                    </li>


                    <li>
                        <section class="mainSection">

                            <div class="main-div">
                                <div class="anime-des">
                                    <ul>
                                        <li><h1 class="title">Anime Title</h1></li>
                                        <li class="not-title">Anime score</li>
                                        <li class="not-title">Anime description</li>
                                        <li class="not-title">Anime airing</li>
                                        <li class="not-title">Anime url</li>
                                    </ul>
                                </div>
                                <div class="anime-img">
                                    <img class="list-img" src="/img/test.jpg" alt="">
                                </div>
                            </div>
                
                        </section>
                    </li>


                    <li>
                        <section class="mainSection">

                            <div class="main-div">
                                <div class="anime-des">
                                    <ul>
                                        <li><h1 class="title">Anime Title</h1></li>
                                        <li class="not-title">Anime score</li>
                                        <li class="not-title">Anime description</li>
                                        <li class="not-title">Anime airing</li>
                                        <li class="not-title">Anime url</li>
                                    </ul>
                                </div>
                                <div class="anime-img">
                                    <img class="list-img" src="/img/test.jpg" alt="">
                                </div>
                            </div>
                
                        </section>
                    </li>
                </ul>
            </div>
        </section>
    

        <section class="s-news">

            <div class="d-news">
                <ul class="u-news">

                    <li class="l-news"><p>The official website for the television anime of Kawo Tanuki and artist Choco Aya's Dragon Goes House-Hunting (Dragon, Ie o Kau. or Dragon's House-Hunting) manga revealed on Friday the third promotional video, more cast members, the ending theme song, and the April 4 premiere. </p></li>
                    <li class="l-news"><p>The official website for the television anime of Kawo Tanuki and artist Choco Aya's Dragon Goes House-Hunting (Dragon, Ie o Kau. or Dragon's House-Hunting) manga revealed on Friday the third promotional video, more cast members, the ending theme song, and the April 4 premiere. </p></li>
                    <li class="l-news"><p>The official website for the television anime of Kawo Tanuki and artist Choco Aya's Dragon Goes House-Hunting (Dragon, Ie o Kau. or Dragon's House-Hunting) manga revealed on Friday the third promotional video, more cast members, the ending theme song, and the April 4 premiere. </p></li>

                </ul>
            </div>

        </section>
  

    </main>


   



 
    <footer>
        <div class="footer big-footer">
            <!-- <div><h2>copy rights  © for team proogle geeks</h2></div> -->
            <div class="footer-child"><i class="fas fa-home"></i></div>
            <div class="footer-child"><i class="fas fa-list-ul"></i></div>
            <div class="footer-child"><i class="far fa-newspaper"></i></div>
            <div class="footer-child"><i class="fas fa-user"></i></div>
        </div>
    </footer>

    



    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script> 
    <script src="/js/app.js"></script>

        <!-- jQuery -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.min.js">\x3C/script>')</script>

  <!-- FlexSlider -->
  <script defer src="/js/jquery.flexslider.js"></script>

  <script type="text/javascript">
    $(function(){
      SyntaxHighlighter.all();
    });
    $(window).load(function(){
      $('.flexslider').flexslider({
        animation: "slide",
        start: function(slider){
          $('body').removeClass('loading');
        }
      });
    });
  </script>
</body>
</html>

 <!-- <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Paradis</title>
  </head>
  <body>
    <form action="/search" method="GET">
      <label for="anime">
        <input type="text" name="anime" id="anime" />
      </label>
      <button type="submit">search</button>
    </form>
    <% anime.forEach(element => { %>
    <img src="<%= element.img_url %>" />
    <h1><%= element.title %></h1>
    <p>Type: <%= element.type %></p>
    <p>Score: <%= element.score %></p>
    <p>Start Date: <%= element.start_date %></p>
    <p>End Date<%= element.end_date %></p>
    <p>Rate: <%= element.rated %></p>
    <form action="/search/details" method="GET">
      <label for="anime">
        <input
          hidden
          type="text"
          name="anime"
          id="anime"
          value="<%= element.title %> "
        />
      </label>
      <button type="submit">Read More</button>
    </form>
    <% }) %>
  </body>
</html>-->

