<%-include("partials/head")%>
    <%-include("partials/header")%>
        <link rel="stylesheet" href="/style/user-info.css">

        <main>

            <div id="user-info-div">
                <ul>
                    <li>
                        <b>First Name: <%= user.first_name %> </b> 
                    </li>
                    <li>
                        <b>Last Name: <%= user.last_name %></b> 
                    </li>
                    <li>
                        <b>Email Address: <%= user.email %></b> 
                    </li>
                    <li>
                        <b>Anime in My List: <%= count %></b>
                    </li>
                </ul>
                <form action="/delete-user/<%= user.email %>?_method=DELETE" method="POST">
                    <button id="delete-account-btn" type="submit">Delete Account</button>
                </form>
                <button id="show-update-form-btn">Update Info</button>
            </div>

            <div id="update-info-form-div">
                <form id="update-info-form" action="/update-info" method="POST">
                    <input class="update-info-input" name="first-name" type="text"  value="<%= user.first_name %> "
                        required /><br />
                    <input class="update-info-input" name="last-name" type="text" value="<%= user.last_name %> "
                        required /><br />
                        <input class="update-info-input" name="email" type="email"   value="<%= user.email %> " required /><br />
                    <button id="update-account-btn" type="submit">Update Account</button>
                    <button id="cancel-btn">Cancel</button>
                </form>
            </div>

        </main>

        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="/js/sign-in.js"></script>

        <%-include("partials/footer")%>