<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search</title>
  </head>
  <body>
    <% anime.forEach(element => { %>
    <img src="<%= element.img_url %>" />
    <h1><%= element.title %></h1>
    <p>Type: <%= element.type %></p>
    <p>Score: <%= element.score %></p>
    <p>Start Date: <%= element.start_date %></p>
    <p>End Date<%= element.end_date %></p>
    <p>Rate: <%= element.rated %></p>
    <form action="/search/details" method="GET">
      <label for="anime">
        <input
          hidden
          type="text"
          name="anime"
          id="anime"
          value="<%= element.title %> "
        />
      </label>
      <button type="submit">Read More</button>
    </form>
    <% }) %>
  </body>
</html>
